<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <material name="white">
        <color rgba="1 1 1 1"/>
    </material>
    <material name="bluepurple" >
        <color rgba="0.35294117647058826 0.023529411764705882 0.9372549019607843 1.0" />
    </material>
    <material name="black">
        <color rgba="0 0 0 1"/>
    </material> 
</robot>